.sns-tab{position:relative;z-index:1;margin-top:10px;}.sns-tab ul{*zoom:1;position:relative;z-index:10;}.sns-tab ul:after{content:"";height:0;display:block;clear:both;}.sns-tab ul li{float:left;*display:inline;position:relative;z-index:10;margin:0 3px;}.sns-tab ul li a{float:left;padding:0 5px;text-decoration:none;}.sns-tab .tab-opt{position:absolute;right:5px;top:-2px;_top:-1px;z-index:10;}.sns-nf,.sns-config .sns-box .sns-nf{margin:0 auto;padding:10px 0;}.tab-app ul{padding-left:10px;margin-bottom:-1px; margin-top:10px;}
.goTop {
bottom: 60px;
right: 0;
position: fixed;
z-index: 450;
width: 54px;
}
.goTop li {
background: #fff;
border: 1px solid #e6e6e6;
float: left;
margin-top: -1px;
width: 100%;
}
.goTop li .ico_top, .goTop li .ico_serviceqq, .goTop li .ico_guide {
float: left;
text-align: center;
height: 57px;
width: 57px;
}
.goTop li .ico_top{background:url(../images/footer_nav.jpg) no-repeat;}
.goTop li .ico_top span, .goTop li .ico_guide span {
display: none;
}
.goTop li .ico_top {
cursor: pointer;
}
.goTop li .ico_top, .goTop li .ico_serviceqq, .goTop li .ico_guide {
text-align: center;
}
.tab-app ul li{margin-bottom:-1px;}
.Validform_right {
color: #71b83d;
padding-left: 20px;
background: url(../images/onSuccess.gif) no-repeat left center;
}
.buttons{
background: none repeat scroll 0% 0% #1f5294;
height: 31px;
border:0px;
padding: 3px 10px;
color: #FFF;
font: 16px "Microsoft YaHei","微软雅黑","黑体";
}
.sns-nf h3{width:100%;padding:10px 0;text-indent: 6px;font-size: 16px;color:#666666;}
.main-wrap .mainzone .content .step {
width: 100%;
}
.main-wrap .mainzone .content .step ul{
height:130px;
}
.main-wrap .mainzone .content .step ul li {
width: 166px;
height: 180px;
background: #f4f4f4;
text-align: center;
padding-top: 25px;
margin-right: 75px;
display: inline;
border: 2px solid #dddddd;
}
.main-wrap .mainzone .content .step ul li:hover{border:2px solid #ff0000;}
.main-wrap .mainzone .content .step ul li p{border-bottom:0px;padding:0px;}
.main-wrap .mainzone .content .step ul li p a{color:#404040;}
.main-wrap .mainzone .content .step ul li h3 {
font: 16px "Microsoft YaHei", "微软雅黑", "黑体";
font-weight: 900;color:#ff0000;
}
.main-wrap .mainzone .content .step ul li a {
color: #ff0000;
}
.forget p {
padding: 20px 0;
text-align: center;
}

.inputbox dl dt a.main_money_a {
width: 94px;
height: 32px;
float: left;
display: block;
padding: 0 0 0 32px;
background: url(../images/radio.png) no-repeat 0 -14px;
line-height: 32px;
font-size: 14px;color:#666666;text-decoration:none;
cursor: pointer;
}
.main_other_money, .main_money_convert {
width: 636px;
height: 30px;
overflow: hidden;
padding: 5px 0 0 24px;
line-height: 30px;
font-size: 15px;
}
.inputbox dl dt .main_money_a a{color:#666666;text-decoration:none;}
.inputbox dl dt .main_money a.selected, .main_money_a:hover, .main_umpay_money_list a.selected {
background: url(../images/radio.png) no-repeat 0 -50px;
color: #ff0000;
}
.buttons:hover{background:#01a461}
.tab-app h3{font-size:16px;text-indent:10px;}
.tab-app li a,.tab-app li a:visited{height:25px;line-height:25px;font-weight:normal;color:#4388ce;text-decoration:none;}
.tab-app li a:hover{height:23px;line-height:23px;padding:0 9px;background-color:#fff;margin-bottom:1px;text-decoration:none;}
.tab-app li.selected{border:1px solid #ddd;background:#f2f2f2;border-bottom:0px;}
.tab-app li.selected a{height:24px;line-height:23px;color:#fff;}
.tab-sub ul,.sns-tab ul.tab-sub{border-bottom:1px solid #ddd;margin-bottom:15px;padding:0px 10px 0px 10px;background-color:#fff;}
.sns-tab ul.tab-sub{z-index:1;}
.tab-sub ul li,.sns-tab ul.tab-sub li{margin-bottom:0;}
.tab-sub li a,.tab-sub li a:visited,.sns-tab ul.tab-sub li a,.sns-tab ul.tab-sub li a:visited{height:25px;line-height:25px;color:#313131;text-decoration:none;font-weight:100;}
.tab-sub li a:hover,.sns-tab ul.tab-sub li a:hover{height:23px;line-height:23px;padding:0 9px;margin:0;}
.tab-sub li.selected a,.tab-sub li.selected a:visited,.sns-tab ul.tab-sub li.selected a,.sns-tab ul.tab-sub li.selected a:visited{color:#666;font-weight:700;border:none;text-decoration:none;}
.tab-sub li.selected a:hover,.sns-tab ul.tab-sub li.selected a:hover{border:none;height:25px;line-height:25px;padding:0 10px;}
.main-wrap a{text-decoration:none;color:#666;}
.main-wrap a:hover{text-decoration:none;color:#f00;}
#childarea{width:500px;float: left;border:1px solid #dddddd;margin-top:10px;padding:5px;background:#faffbd;}
#childarea h5{width: 500px;
float: left;
color: #94AB1D;
font-size: 16px;}
#childarea	span{width: 70px;float:left;}
.mytaobao-v2 .box-detail .bd{min-height:390px;_height:540px;}
.ui-button{padding:5px 10px;}
.inputbox dl{width:100%;height:auto;float:left;margin-top:5px;font-size:13px;}
.font12{font-size:12px;}
.inputbox dl dd{width: 116px;float:left;font-size:13px;text-align: right;margin-right:10px;color: #666;font-weight: 500;line-height: 35px;}
.inputbox dl dt img{border:1px solid #666666;width:120px;height:100px;}
.inputbox dl dt{width:75%;float:left;}
.inputbox dl dt span{margin-top:5px;}
select{border: 1px solid #CDCDCD;
border-radius: 2px;
box-shadow: 2px 2px 2px #F1F1F1 inset;
padding: 6px 2px;}
.inputbox dl dt a{color:#00f;text-decoration:underline;}
.inputbox dl dt a:hover{color:#f00;text-decoration:none;}
.inputbox dl dt em{padding:5px 18px;color:#f00;font-size:12px;background:#f2f2f2;}
.inputbox dl dt .inputAddress{border:1px solid #ddd;border: 1px solid #CDCDCD;font-size:12px;color: #666;}
.inputbox dl dt .select{padding:5px 0px;border:1px solid #ddd;}


.inputbox1{margin-top:20px;}
.inputbox1 dl{width:100%;height:auto;float:left;margin-top:5px;font-size:13px;}
.inputbox1 dl dd{width:20%;float:left;font-size:13px;text-align: right;margin-right:10px;color: #666;font-weight: 500;}
.inputbox1 dl dt img{border:1px solid #ddd;}
.inputbox1 dl dt{width:75%;float:left;}
.inputbox1 dl dt span{margin-top:5px;}
select{border: 1px solid #CDCDCD;
border-radius: 2px;
box-shadow: 2px 2px 2px #F1F1F1 inset;
padding: 6px 2px;}
.inputbox1 dl dt a{color:#00f;text-decoration:underline;}
.inputbox1 dl dt a:hover{color:#f00;text-decoration:none;}
.inputbox1 dl dt em{padding:5px 18px;color:#f00;font-size:12px;background:#f2f2f2;}
.inputbox1 dl dt .inputAddress{border:1px solid #ddd;border: 1px solid #CDCDCD;font: 14px/1.5 "Arial","SimSun",sans-serif;color: #666;}
.inputbox1 dl dt .select{padding:5px 0px;border:1px solid #ddd;}

.infomation{display:none;float:left;}

.page{width:100%;padding:10px 0px;color:#999999;text-indent:16px;float: left;}
.page a{padding:1px 5px;color: #FF5B00;border:1px solid #dddddd;text-decoration:none;}
.page a:hover{text-decoration:underline;}
.message_box{width:100%;}
.page a.checked{border:0px;}
.message_box tr{height:30px;text-align:left;border-bottom:1px solid #ddd;}
.message_box th{height:30px;background:#f4f4f4;font-weight:500;border:1px solid #ddd;}
.message_box tr td{padding:5px 0px;border:1px solid #ddd;}
.message_box .button{background: #DDD;
height: 24px;
border-top: 0;
border-left: 0;
border-bottom: 1px solid #666;
border-right: 1px solid #666;
padding: 3px 6px;
margin-right: 5px;}
.message_noread{color: white;
background: red;
padding: 2px 7px;
margin-right: 3px;
border-radius: 6px;}
.ems_thumb{border:1px solid #ddd;width:45px;height:45px;}
.no-data-notice{text-align:center;width:100%;height:100px;padding-top:150px;color:#94AB1D;line-height:30px;font-size:14px;}
#opratemsg{color:#f00;border:1px solid #ddd;width:670px;margin:auto;height:20px;padding:5px 0px;background:#f2f2f2;text-indent:20px;}
.Validform_wrong {
color: red;
padding-left: 20px;
white-space: nowrap;
background: url(../images/error.png) no-repeat left center;
}
.Validform_checktip {
margin-left: 8px;
line-height: 40px;
height: 20px;
overflow: hidden;
font-size: 12px;
}
.button {
font: 16px "Microsoft YaHei", "微软雅黑", "黑体";
line-height: 32px;
font-size: 16px;
font-weight: 600;
color: #fff;
background:#1f5294;
padding: 0px 15px;
border:0px;
}
.button:hover{background:#ff0000;}
.button2{
display: inline-block;
border-radius: 3px;
padding: 2px 4px;
color: #666666;
border: 1px solid #dddddd;
}

.bd .stepMenu {border-bottom:1px solid #ddd;}
.bd .stepMenu span { display:inline-block;padding:2px 10px;text-align:center; font-size:14px; color:#999;}
.bd .stepMenu span.on{background:#ddd;color:#000;}

#rssbox h4 {font-size:18px;height:30px;color:#f00;margin-top:15px;font: 16px "Microsoft YaHei", "微软雅黑", "黑体";font-weight:bold;text-align:center;}

#email_rss {border:2px solid #ddd;background: #f5f5f5;opacity:0.8;overflow:hidden;}
#email_rss dl dd label { padding-left:10px; }
#email_rss dl dd a { color:#00f;text-decoration:underline;}
#email_rss dl dd a:hover{ color:#f00;text-decoration:underline;}
#email_rss dl dt { padding-right:10px; width:110px; height:40px; line-height:40px;font-size: 12px; color:#999;}
#email_rss dl { width:100%;float:left;padding: 0px;margin: 0px;}
#email_rss dl#error_dlbox{margin:0px;padding:0px 15px;color:#f00;display:none;text-align:center;}
#email_rss dl dd { 
padding: 8px 0px;margin: 0px;
color: #404040;
font-size: 14px;}
#email_rss dl dd span{float:right;font-size:12px;color:#f00;padding:1px 5px;}
#email_rss dl dd input { margin-top:5px; }
#email_rss dl dd .links { padding-top:5px;padding-bottom:10px;border-bottom:1px dashed #999;}
#email_rss dl.pb0 { margin-bottom:0; }
#email_rss h4 {font-size:18px;height:30px;color:#f00;margin-top:15px;font: 16px "Microsoft YaHei", "微软雅黑", "黑体";font-weight:bold;text-align:left;}

#email_rss h4 span{float:right;font-size:12px;font-weight:500;}
#email_rss h4 span a{color:#00f;text-decoration:underline;}
#email_rss h4 span a:hover{text-decoration:underline;color:#000;}
#email_rss dl dd.loginzone span{margin-top:8px;}
#email_rss dl dd.loginzone span a{color:#000;text-decoration:underline;}
#email_rss dl dd.loginzone span a:hover{color:#f00;text-decoration:underline;}
.inputAddress, .yzinput { height:23px; line-height:23px; padding:3px 10px; width:230px; border-color: #CCCCCC #DDDDDD #DDDDDD #CCCCCC;border-width: 1px;border-style: solid; font-size:14px; float:left; margin-top:3px;color:#666;}

#email_rss .el_search_submit {
float: left;
height: 30px;
line-height: 30px;
background: #f95f5f;
padding: 0px 15px;
font-size: 16px;
font-weight: 600;
color: #fff;
border:0px;
}
#email_rss .el_search_submit:hover {
background: #01a461;
}

.username{background:url(../images/user.png) no-repeat;text-indent:19px;}
.username:hover{background:url(../images/user_hover.png) no-repeat;text-indent:19px;}
.password{background:url(../images/pwd.png) no-repeat;text-indent:19px;}
.password:hover{background:url(../images/pwd_hover.png) no-repeat;text-indent:19px;}
.email1{background:url(../images/email.png) no-repeat;text-indent:19px;}
.email1:hover{background:url(../images/email_hover.png) no-repeat;text-indent:19px;}

ul#xian{list-style:none;padding:5px 0px;margin:0px;}
ul#xian li{float:left;width:80px;}